body{
	background-color: #D8D8D8;
	color: black;
}
#head_title{
	color: black;
	font-weight: 10px;
	font-family: comic;
	font-style: italic;
	margin-left: 10px;
	text-align: center;
}
nav ul{
	overflow: hidden;
	background-color: #333;
	list-style-type: none;
    margin-left: 0%;
    padding: 0%;
}
nav li{
	overflow: hidden;
	background-color: #333;
	float: left;
	margin: 0%;
}
nav li a{
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}
nav li a:hover{
	text-decoration: none;
	background-color: black;
}
.image{
	max-width: 80%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
	border: 1px solid red;
}
.container{
	margin-top: 5%;
	margin: 5%;
	padding: 3%;
	background-color: #E3E3E3;
	color: black;
	border-radius: 0;
}
.container a{
	text-decoration: none;
	color: blue;
	}
#content{
	margin: 2% 0% 10% 0%;
}
.container ul{
	font-family: "Georgia";
}
u{
	color: red;
}
table{
	width: 100%;
}
#contacts{
margin-top: 5%; 
align-self: center;
}
#contacts li{
	margin-top: 0px;
	margin-left: 0%;
	float: left;
	overflow: hidden;
	padding: 5%;
	background-color: orange; 
	padding: 5%; 
	border: 50px solid #D8D8D8;
}
button{
	padding:2%;
	background-color: blue;
	color: white;
	border-radius: 10%;
}
#contacts a{
	color:white;
	text-decoration: none;
}